 <div class="exchange-section">
                <div class="image-container">
                    <img src="static/img/стрелки.png" alt="Стрелка" class="strelka-icon">
                    <img src="/static/img/money.png" alt="Утка">
                    <button class="improve-buttonA">Построить 150 USDT</button>
                    <button class="improve-buttonB">Обменять</button>
                    <div class="exchange-title">Обменник DCT - USDT</div>
                    <div class="draggable-container">
                        <img src="/static/img/16.png" alt="DCT Logo" class="dct-icon">
                        <span class="dct-label">DCT</span>
                    </div>
                    <div class="draggable-containerA">
                        <img src="/static/img/USDT.png" alt="DCT Logo" class="dct-icon">
                        <span class="dct-label">USDT</span>
                    </div>
                </div>
                </div>
